*{
    box-sizing: border-box;
}

html {
    height: 100%;

}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1C2228;
    color: #f7fff7;
    height: 100%;
}

a {
    color: #cfd3d4;
}

a:hover {
    color: #4dd8eb;
    background-color: #222a33;
}

.shadow{
    box-shadow: 0 8px 12px rgba(0,0,0,0,2), 0 5px 6px rgba(0,0,0,0,3);
}

.section-container {
    padding: 30px;
}

